@import "../../generalStyles/utils/mixins";

.Header {

  position: relative;
  z-index: 1;

  &__wrapper {
    overflow: hidden;
  }

  &__video {
    height: 500px;
    margin-left: -250px;

    @media (min-width: 500px) {
      margin: 0;
      object-fit: cover;
      width: 100%;
    }

    @include onTable {
      height: 100vh;
    }
  }

  &__title {
    display: block;

    margin: -180px auto;
    text-align: center;

    color: white;
    font-size: 40px;

    max-width: 700px;

    @include onTable {
      margin-top: -260px;
      font-size: 70px;

      max-width: 960px;
    }

    &::after {
      content: '|';
      display: block;
      font-weight: 100;
      font-size: 120px;
      color: #bf2b12;

      @include onTable {
        font-weight: 300;
      }
    }
  }
}