.InfoDetails {

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
  }

  &__contact {
    font-family: "Leroy Merlin";
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    color: #fff;

    width: 280px;

    transition: 0.3s;

    &:hover {
      color: #bf2b12;
    }
  }

  &__more {
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
    margin: 0 0 30px;
  }

  &__socials {
    display: flex;
    gap: 20px;
  }
}
