.Menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  margin-top: 0px;

  overflow: auto;
  z-index: 2;

  &__lang {
    margin: 100px 20px 0;
  }
}