@import "../../generalStyles/utils/mixins";

.IntroDesc {
  &__main-list {
    list-style: none;

    @include onTable {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
  }

  &__title {
    font-size: 36px;
  }

  &__article {
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    max-width: 500px;

    margin-bottom: 60px;
  }

  &__we-deliver {
    @include onTable {
      
      background-image: url('../../../public/figures/weDeliver.svg');
      background-repeat: no-repeat;
      padding: 20px;
    }

    @include onNotebook {
      padding: 20px 20px 150px;
    }
  }

  &__title-value {
    font-size: 24px;
    
    @include onTable {
      font-size: 34px;
    }
  }

  &__value {
    padding-left:22px;
    font-weight: 500;
    font-size: 22px;

    margin: 24px 20px;

    @include onTable {
      font-size: 30px;
    }

    &::marker {
      content: '∎';
      color: #bf2b12;
    }
  }

  &__figure {
    object-fit: cover;
    object-position: bottom right;

    margin-top: -100px;
    margin-left: -100px;
    width: 100%;

    transform: scale(1.4);
    height: 600px;
  }
}